In [3]:
import pandas as pd

Loading the dataset

In [5]:
df = pd.read_csv(r"C:/Users/Ghare/Downloads/archive (1)/all_stocks_5yr.csv", encoding="windows-1252")

Display the first 5 rows

In [6]:
df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

Check for duplicate rows

In [7]:
print("Duplicate Rows:", df.duplicated().sum())

Duplicate Rows: 0

Remove Duplicates

In [8]:
df = df.drop_duplicates()

Confirm duplicates are removed

In [9]:
print("Duplicate Rows after removal:", df.duplicated().sum())

Duplicate Rows after removal: 0

Convert column names to lowercase and replace spaces with underscores

In [10]:
df.columns = df.columns.str.lower().str.replace(' ','-')

Check the new column names

In [11]:
print(df.columns)

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'name'], dtype='object')

Importing NumPy

In [12]:
import numpy as np

Conversion into datetime format

In [28]:
df['date'] = pd.to_datetime(df['date'])

Conversion into float format

In [30]:
df[['open', 'close', 'high', 'low']] = df[['open', 'close', 'high', 'low']].astype(float)

Checking for any missing values

In [25]:
df.isnull().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
name      0
dtype: int64

The missing values were rectified by being filled with median of the values occuring in the same column.

In [23]:
df['open'] = df['open'].fillna(df['open'].median())
df['high'] = df['high'].fillna(df['high'].median())
df['low'] = df['low'].fillna(df['low'].median())

Check the new data types

In [26]:
df.dtypes

date       object
open      float64
high      float64
low       float64
close     float64
volume      int64
name       object
dtype: object

Saving the Cleaned Dataset for Analysis

In [31]:
df.to_csv("C:/Users/Ghare/Downloads/archive (1)/cleaned_dataset.csv", index=False)