In [1]:
import pandas as pd

Loading the dataset

In [24]:
df = pd.read_csv(r"C:/Users/Ghare/Downloads/archive/bookstoscrape.csv", encoding="windows-1252")

Display the first 5 rows

In [25]:
df.head()

,Title,Price,Star Rating,Genre,Publication Year,Page Count
0,A Light in the Attic,51.77,Three,Manga,2019,400
1,Tipping the Velvet,53.74,One,Travel,2020,400
2,Soumission,50.10,One,History,2015,130
3,Sharp Objects,47.82,Four,Fantasy,2013,200
4,Sapiens: A Brief History of Humankind,54.23,Five,Fantasy,1990,200

Check for duplicate rows

In [27]:
print("Duplicate Rows:", df.duplicated().sum())

Duplicate Rows: 0

Remove Duplicates

In [28]:
df = df.drop_duplicates()

Confirm duplicates are removed

In [29]:
print("Duplicate Rows after removal:", df.duplicated().sum())

Duplicate Rows after removal: 0

Convert column names to lowercase and replace spaces with underscores

In [30]:
df.columns = df.columns.str.lower().str.replace(' ','-')

Check the new column names

In [31]:
print(df.columns)

Index(['title', 'price', 'star-rating', 'genre', 'publication-year',
       'page-count'],
      dtype='object')

Importing NumPy

In [32]:
import numpy as np

Convert Numerical Columns stored as text to numbers

In [42]:
df['star-rating'] = pd.to_numeric(df['star-rating'], errors='coerce')

Check the new data types

In [43]:
df.dtypes

title                object
price               float64
star-rating         float64
genre                object
publication-year      int64
page-count            int64
dtype: object

Saving the Cleaned Dataset for Analysis

In [49]:
df.to_csv("C:/Users/Ghare/Downloads/archive/cleaned_dataset.csv", index=False)